{% extends ':Mobile:mobile.base.html.twig' %}

{% block pageId %}
<div data-role="page" id="admin">
    {% endblock %}

{% block header %}
    {% block header_left %}
    {% endblock %}
    <h1>{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}</h1>
    {% block header_right %}
    {% endblock %}
    {% block nav_bar %}
        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li>{% block nav_header_one %}<a href="{{ path('_contacts_index') }}">{% trans %}admin.navbar.contacts{% endtrans %}</a>{% endblock %}</li>
                <li>{% block nav_header_two %}<a href="#">{% trans %}admin.navbar.catalogs{% endtrans %}</a>{% endblock %}</li>
                <li>{% block nav_header_three %}<a href="#">{% trans %}admin.navbar.sales{% endtrans %}</a>{% endblock %}</li>
                <li>{% block nav_header_four %}<a href="#">{% trans %}admin.navbar.purchase{% endtrans %}</a>{% endblock %}</li>
            </ul>
        </div><!-- /navbar -->
    {% endblock %}
{% endblock %}

{% block footer_left %}
    <a href="#popupAccount" data-rel="popup" class="ui-btn-left">{{ app.user.username }}</a>
    {% include 'AdminBundle:Account:account.menu.html.twig' %}
{% endblock %}

{% block footer_right %}
    <a href="{{ path('_setup_index') }}" data-role="button" class="ui-btn-right" data-icon="gear">{% trans %}admin.setup.label{% endtrans %}</a>
{% endblock %}
