{% extends 'AdminBundle::admin.base.html.twig' %}

{% block header_left %}
    <a href="{{ path('_prospects_index') }}" class="ui-btn-left" data-icon="delete">{% trans %}contacts.add.cancel.label{% endtrans %}</a>
{% endblock %}

{% block nav_bar %}
{% endblock %}

{% block content %}
    <form action="{{ path('_prospects_add') }}" method="post">
        {% block common_contact_fields %}
            <ul data-role="listview" data-theme="c" data-divider-them="a">
                <li data-role="fieldcontain">
                    <label for="firstName">{% trans %}contacts.add.form.title.label{% endtrans %}:</label>
                    <input type="text" name="firstName" id="firstName" value="" />
                </li>
                <li data-role="fieldcontain">
                    <label for="name">{% trans %}contacts.add.form.name.label{% endtrans %}:</label>
                    <input type="text" name="name" id="name" value="" />
                </li>
            </ul>
        {% endblock %}
        {% block specific_contact_fields %}
        {% endblock %}
    </form>
{% endblock %}


