{% extends 'AdminBundle::admin.base.html.twig' %}

{% block header_left %}
    <a href="{{ path('_contacts_index') }}" class="ui-btn-left" data-icon="back">{% trans %}header.left.nav.contacts{% endtrans %}</a>
{% endblock %}

{% block nav_bar %}
{% endblock %}

