<div data-role="popup" id="popupAccount">
    <ul data-role="listview" data-inset="true" style="width:180px;" data-theme="{{ jquery_mobile_theme }}">
        <li>user info</li>
        <li><a href="{{ path('_logout') }}" data-transition="flip">{% trans %}user.logout{% endtrans %}</a></li>
    </ul>
</div>

